# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.gradle/
.system_generated/
*.log

# Android Studio & IDE
.idea/
*.iml
.DS_Store
Thumbs.db
